<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lekton|Molengo" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><img src="/hogwarts.png" class="house_badge"></li>
      <li><a href="/">Student Index</a></li>
      <li><a href="/add">Add a student</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
